/* Sidebar styles */
.sidebar {
  background-color: #ffffff;
  padding: 20px;  
  overflow: hidden;    
}

.sticky-sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px;
}

.sidebar-container {
  min-height: 100vh; /* Full viewport height */
}

.card-body-sidebar {
  margin-left: 30px;
  margin-right: 30px;
}

/* Profile Image */
.profile-img {
  width: 200px; /* Set a specific width */  
  margin: 15px;
  margin-bottom: 15px;    
  margin-left: auto;
  margin-right: auto;
  border-radius: 50% !important; /* This makes the image round */
  object-fit: cover; 
}

/* Main content styles */
.main-content {
  background-color: #ffffff;
  padding: 10px;  
  top: 20px;
  overflow: hidden;  
}

/* Ensure the sidebar looks good on small screens */
@media (max-width: 768px) {
  .sidebar {
    border-right: none;
    border-bottom: 1px solid #ffffff;
  }
}

.section-body {
  margin-left: 200px;
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.section-body-title {
  margin-left: 200px;
  margin-right: 400px;  
  margin-bottom: 50px;
}

.section-body:after {
  position: absolute;
  content: url(./img/separator.png);  
  display: block;
  margin-top: 100px; /* Space between content and separator */  
}

/* Accent hover color for navbar links */
.accent-hover:hover {
  color: #ff6462;
}

/* Background colors */
.background {
  background-color: #003f5c;
}

.secondary-background {
  /* background-color: #eeeeee; */
  background-color: #F8F8F2;
}

/* Heading and paragraph colors */
h1, h2 {
  font-family: "Playfair Display SC", serif;
  color: #333;  
}

h3, h4 {
  font-family: "Playfair Display SC", serif;
  color: #333;
  /* margin-bottom: 20px; */
}

h5, h6 {
  font-family: "Lato", Arial, sans-serif;
  color: #333;
  font-size: 1.1875em;
  font-weight: 700;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid #b3b3b3;
  display: inline-block;
}

p, a {  
  font-family: "Lato", Arial, sans-serif;
  color: #8c8c8c;
}


.text-body, .text-body li {
  font-family: "Lato", Arial, sans-serif;
  color: #8c8c8c;
}

.text-body a {
  color: #8c8c8c;
  text-decoration: none;
}

/* Custom color for comments */
.comments {
  color: #333;
}

/* Contact List Styles */
.contact-list {
  list-style-type: none; 
  padding: 0;            
  margin: 0;             
}

.contact-list li {
  margin-bottom: 10px;   /* Adds spacing between items */
}

.contact-list a {
  color: inherit; /* Ensures links inherit the parent color */
  text-decoration: none;
}

.contact-list a:hover {
  color: #333333; /* Changes color on hover */
}

.contact-list i {
  margin-right: 8px; /* Adds space between icon and text */
}

/* Contact Info Styles */
.contact-info p {
  display: flex;
  align-items: center; /* Align text and icon vertically */
  margin: 5px 0; /* Add some margin to space out each line */  
}

.contact-info i {  
  color: #8c8c8c;
  text-align: right;
}

.contact-info a {
  color: #58508d; /* Ensure the default color is applied */
  text-decoration: none; /* Remove underline from links */
  margin-left: 10px;
}

.contact-info a:hover {
  color: #007bff; /* Change color on hover */
}

/* Contact Info Links */
.contact-info a {
  color: #8c8c8c; /* Set color for all links in contact-info */
  text-align: right;
}

.contact-info a:hover {
  color: #58508d; /* Change color on hover */
}

.contact-info .contact-link a {
  color: #8c8c8c; /* Set color for LinkedIn, GitHub, and email links */
}

.contact-info .contact-link a:hover {
  color: #8c8c8c; /* Optional: Change the hover color */
}

.contact-info-custom {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

/* Title Container */
.title-container {
  display: flex;
  align-items: center;
}

.title-container h3 {
  margin-right: 8px; /* Space between title and icon */
}

.title-container .fa-link {
  color: #333; /* Or any color you want for the icon */  
  text-decoration: none;
}

.title-container .fa-link:hover {
  color: #0056b3; /* Change color on hover if desired */
}
